:root {
  --text-color-w: white;
  --text-color-b: black;
  --text-color-c: rgb(142, 218, 252);
  --text-color-llg: rgb(185, 187, 190);
  --text-color-lg: rgb(177, 177, 177);
  --text-color-g: rgb(104, 113, 116);
  --text-color-gs: rgb(107, 115, 118);
  --text-color-bg: rgb(79, 117, 133);
  --bg-color-w: white;
  --bg-color-c: rgb(142, 218, 252);
  --bg-color-lg: rgb(234, 234, 234);
  --bg-color-v: rgb(213, 249, 186);
  --bg-color-dropdown: #f1f1f1;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom, 
  #009688 0%,
  #009688 18%, 
  #DADBD4 18%, 
  #DADBD4 100%);
  background-repeat: no-repeat;
}


/* UTILITY */

.debug {
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.a-center {
   align-items: center;
}

.d-center {
  justify-content: center;
}

.flex-end {
  align-self: flex-end;
}

.j-flex-end {
  justify-content: flex-end;
}

.padding {
  padding: 20px 15px;
}

.padding-right {
  padding-right: 20px;
}

.padding-left {
  padding-left: 20px;
}

.margin-left {
  margin-left: 20px;
}

i {
  font-size: 1.2rem;
  color: var(--text-color-lg);
}


.container {
  max-width: 1200px;
  height: 80vh;
  margin: 20px auto;
}

.row {
  height: 100%;
}

.col.left {
  width: 30%;
}

.col.right {
  width: 70%;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



.col .top,
.col .bottom,
.col .top.small {
  background: var(--bg-color-lg);
}

.top,
.bottom{
  height: 70px;
}

.top.small{
  height: 50px;
  padding: 8px;
}

.top.special {
  background: var(--bg-color-c);
}


/* COLONNA SX */
.single {
  height: 80px;
  border: 1px solid rgb(194, 194, 194);
  background: var(--bg-color-w);
  width: 100%;
}

.col.left .top {
  border-right: 1px solid rgb(194, 194, 194);
}

.serch {
  background: var(--bg-color-w);
}

.cerca {
  width: 100%;
  height: 35px;
  border: none;
  color: var(--text-color-llg);
}

.fa-magnifying-glass {
  padding-top: 7px;
  padding-left: 10px;
  margin-right: 15px;
}


/* top-blu */
.cerchio {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--bg-color-w);
}

.fa-bell-slash {
  color: var(--text-color-c);
  font-size: 1.2rem;
}

.special a {
  color: var(--text-color-bg);
  font-size: 12px;
  font-weight: bold;
}

/* centro - colonna sx */
.lista-contatti span {
  font-size: 12px;
  font-weight: bold;
}

.col.left .center {
  overflow: scroll;
  height: calc(100% - 190px);
}

.left .center span {
  color: var(--text-color-lg);
  font-size: 12px;
  font-weight: bold;
}

.center .single .orario {
  padding-left: 60px;
}


/* COLONNA DX */
.col.right .center {
  background-image: url(../img/mine.jpg);
  background-size: contain;
  overflow: scroll;
  height: calc(100% - 140px);
}

.right span {
  font-size: 12px;
  font-weight: bold;
  color: var(--text-color-g);
}

.chat {
  margin: 50px 100px;
}

.sms {
  background: var(--bg-color-w);
  width: 60%;
  height: 30%;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

.sms.send {
  background: var(--bg-color-v);
  align-self: flex-end;
}

.sms-dx .fa-chevron-down {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-left: 40px;
}


/* menu info sms */

.dropbtn{
  color: var(--text-color-w);
  border: none;
}

.sms.send .dropbtn {
  background: var(--bg-color-v);
}

.sms.receive .dropbtn {
  background: var(--bg-color-w);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 2px;
  background: var(--bg-color-dropdown);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--text-color-b);
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  font-size: .8rem;
  text-align: center;
}

.sms-dx .fa-chevron-down:hover {
  color: var(--text-color-gs);
}

.dropdown-content a:hover {
  background: var(--bg-color-w);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sms.send .dropdown:hover .dropbtn {
  background: var(--bg-color-v);
}

.sms.receive .dropdown:hover .dropbtn {
  background: var(--bg-color-w);
}

/* /menu info sms */

.sms.receive {
  align-self: flex-start;
}

.Michele {
  padding-top: 11px;
}

.bottom .srivi-mess {
  width: 770px;
  height: 50px;
}

.bottom .scrivi {
  width: 84%;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: var(--text-color-g);
}

.sms .sms-orario {
  font-size: .6rem;
}

.sms-dx {
  position: relative;
}

.sms.send .sms-orario,
.sms.receive .sms-orario {
  position: absolute;
  right: .2px;
}

.fa-face-smile,
.fa-microphone {
  color: var(--text-color-gs);
}

.bottom i {
  width: 8%;
  height: 50px;
  padding-top: 15px;
}


/* RESPONSIVE */

/* TABLET */

@media screen and (max-width: 992px){
  .container {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .col.left,
  .col.right {
    height: 100vh;
  }

  .col.left {
    width: 12%;
  }

  .col.right {
    width: 88%;
  }

  .col.left .top .dx,
  .col.left .top.special,
  .col.left .top.small,
  .col.left .center .single .prew,
  .col.left .center .single .dx {
    display: none;
  }

  .col.left .center {
    height: calc(100% - 70px);
  }

  .col.right .center {
    height: calc(100% - 140px);
  }

  .col.right .center .chat{
    margin: 25px 50px;
  }

  .col.right .center .sms {
    width: 80%;
  }
  
}

/* MOBILE */
@media screen and (max-width: 542px) {

  .container .row .col.right {
    width: 100%;
  }
  .container .row .col.left,
  .container .row .col.right .top .dx,
  .container .row .col.right .bottom .none{
    display: none;
  }

  .col.right .center .chat{
    margin: 25px 30px;
  }

  .col.right .center .sms {
    width: 90%;
  }

  .container .row .col.right .bottom .scrivi {
    width: 95%;
  }

}